.btns img {
  height: 64px;
  width: 64px;
  padding-left: 8px;
  padding-right: 8px;
  border-style: solid;
  border-color: #f2ff00;
  border-width: 2px;
}

h1, h2, h3 {
  text-align: center;
}

.btns {
  margin: 0 auto;
  width: 260px;
  padding-top: 120px;
}

.compSelection {
  margin: 0 auto;
  width: 256px;;
}

.compSelection img {
  height: 64px;
  width: 64px;
  display: block;
  margin: 0 auto;
}
